body {
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.25;
	
	background-color: #ffffff;
	color: #000000;
	margin: 5% 15% 5% 15%;
  transition: color 1s;
  background-image: url(https://media.giphy.com/media/QLxo890lA6TH0ZlCdC/giphy.gif);
  background-size: 100%;
  background-blend-mode:overlay

}

body.dark {
  color: #ffffff;
}

body.dark div.color-changer {
  border: 2px solid #ffffff;
}

div.statement {
  line-height: 1.1;
}


body.dark div.statement h1 span {
  background-color: #ffffff;
}

div.statement p {
  margin: 64px 0 0 0;
  text-indent: 80px;
}

div.color-changer {
  position: fixed;
  bottom: 5%;
  right: 3.5%;
  border: 2px solid #000000;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  transition: border 1s;
}

div.color-changer input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid #000000;
}

#button-decrease {
  position: fixed;
  bottom: 15%;
  right: 3.5%;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  transition: border 1s;
  border: 2px solid #ffffff;
}

#button-increase {
  position: fixed;
  bottom: 15%;
  right: 8%;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  transition: border 1s;
  border: 2px solid #ffffff;
}


h1 {
  font-weight: bolder;
}

p {
  font-weight: 100;
}
